* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 24px;
  background-color: #f5f7fa;
  padding: 40px 20px;
}

a {
  text-decoration: none;
  color: #92979f;
}

.wrapper {
  background-color: #ffffff;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.wrapper .sidebar {
  background: #1e2939;
  max-width: 370px;
  width: 30%;
}

.wrapper .sidebar .my_photo {
  margin-top: 40px;
  width: 100%;
  max-width: 370px;
}

.wrapper .sidebar .contacs-container {
  margin-top: 60px;
  margin-left: 40px;
}

.wrapper .sidebar .contacs-container .contacts_title {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}

.wrapper .sidebar .contacs-container .contats_link-type {
  color: #ffffff;
  font-weight: 700;
  margin-right: 10px;
}

.wrapper .sidebar .tech_skills_container {
  margin-top: 55px;
  margin-left: 40px;
  margin-right: 40px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

.wrapper .sidebar .tech_skills_container .tech_skills_title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}

.wrapper .sidebar .tech_skills_container .tech_skills_item {
  color: #e4630eed;
  margin-left: 15px;
}

.wrapper .sidebar .tech_skills_container .tech_skills_item span {
  color: #d8dadd;
}

.wrapper .sidebar .soft_Skills_container {
  margin-top: 55px;
  margin-left: 40px;
  margin-right: 40px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

.wrapper .sidebar .soft_Skills_container .soft_skills_title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}

.wrapper .sidebar .soft_Skills_container .soft_skills_item {
  color: #e4630eed;
  margin-left: 15px;
}

.wrapper .sidebar .soft_Skills_container .soft_skills_item span {
  color: #d8dadd;
}

.wrapper .main_info {
  width: 69%;
  padding: 110px 90px 110px 90px;
}

.wrapper .main_info .my_info {
  margin-bottom: 65px;
}

.wrapper .main_info .my_info .profession {
  font-size: 14px;
  margin-bottom: 23px;
}

.wrapper .main_info .my_info .my_name {
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
}

.wrapper .main_info .my_info .text_content {
  margin-top: 25px;
  font-weight: 400;
}

.wrapper .main_info .about_me_title {
  margin-bottom: 10px;
}

.wrapper .main_info .company_title {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 700;
}

.wrapper .main_info .company_title .company_name {
  color: #ff7011;
}

.wrapper .main_info .period {
  color: #a8a8a8;
  font-size: 12px;
}

.wrapper .main_info .period .prof_div {
  color: black;
}

.wrapper .main_info .prof_duties {
  margin-top: 14px;
}

.wrapper .main_info .prof_duties .company_list_item {
  color: #595959;
  margin-left: 20px;
}

.wrapper .main_info .prof_duties_comment {
  margin-top: 10px;
  margin-bottom: 30px;
}

.wrapper .main_info .education_block {
  margin-top: 55px;
}

.wrapper .main_info .education_block .education_title {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}

.wrapper .main_info .education_block .university_name {
  margin: 20px 0 15px 0;
  color: #ff7011;
  font-size: 16px;
}

.wrapper .main_info .education_block .specialization {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 700;
}

.wrapper .main_info .education_block .study_period {
  color: #a8a8a8;
  font-size: 12px;
}

@media (max-width: 850px) {
  .wrapper .sidebar {
    width: 50%;
  }
}

@media (max-width: 570px) {
  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper .sidebar {
    width: 95%;
    max-width: 570px;
  }
  .wrapper .sidebar .contacs-container,
  .wrapper .sidebar .tech_skills_container,
  .wrapper .sidebar .soft_Skills_container {
    width: 220px;
    margin: 20px auto;
  }
  .wrapper .sidebar .my_photo {
    display: block;
    margin: 0 auto;
  }
  .wrapper .main_info {
    width: 95%;
    padding: 5%;
  }
}
