// some variables for fonts
$fz: 14px;
$main_font: "Montserrat", sans-serif;

// some variables for colors
$body_color: #f5f7fa;
$bg_color_1: #ffffff;
$bg_color_2: #1e2939;
$link_color: #92979f;
$text_color_1: #ffffff;
$text_color_2: #e4630eed;
$text_color_3: #d8dadd;
$text_color_4: #ff7011;
$text_color_5: #a8a8a8;
$text_color_6: #595959;
