@import "_var";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: $main_font;
	font-size: $fz;
	line-height: 24px;
	background-color: $body_color;
	padding: 40px 20px;
}
a {
	text-decoration: none;
	color: $link_color;
}
.wrapper {
	background-color: $bg_color_1;
	max-width: 1200px;
	display: flex;
	margin: 0 auto;
	box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
	.sidebar {
		background: $bg_color_2;
		max-width: 370px;
		width: 30%;
		.my_photo {
			margin-top: 40px;
			width: 100%;
			max-width: 370px;
		}
		.contacs-container {
			margin-top: 60px;
			margin-left: 40px;
			.contacts_title {
				color: $text_color_1;
				font-family: $main_font;
				font-size: 22px;
				font-weight: 700;
				margin-bottom: 20px;
			}
			.contats_link-type {
				color: $text_color_1;
				font-weight: 700;
				margin-right: 10px;
			}
		}
		.tech_skills_container {
			margin-top: 55px;
			margin-left: 40px;
			margin-right: 40px;
			color: $text_color_1;
			font-family: $main_font;
			.tech_skills_title {
				font-size: 22px;
				font-weight: 700;
				margin-bottom: 20px;
			}
			.tech_skills_item {
				color: $text_color_2;
				margin-left: 15px;
				span {
					color: $text_color_3;
				}
			}
		}
		.soft_Skills_container {
			margin-top: 55px;
			margin-left: 40px;
			margin-right: 40px;
			color: $text_color_1;
			font-family: $main_font;
			.soft_skills_title {
				font-size: 22px;
				font-weight: 700;
				margin-bottom: 20px;
			}
			.soft_skills_item {
				color: $text_color_2;
				margin-left: 15px;
				span {
					color: $text_color_3;
				}
			}
		}
	}
	.main_info {
		width: 69%;
		padding: 110px 90px 110px 90px;
		.my_info {
			margin-bottom: 65px;
			.profession {
				font-size: $fz;
				margin-bottom: 23px;
			}
			.my_name {
				font-size: 45px;
				font-weight: 700;
				line-height: 89px;
			}
			.text_content {
				margin-top: 25px;
				font-weight: 400;
			}
		}
		.about_me_title {
			margin-bottom: 10px;
		}
		.company_title {
			margin-top: 10px;
			margin-bottom: 15px;
			font-size: 16px;
			font-weight: 700;
			.company_name {
				color: $text_color_4;
			}
		}
		.period {
			color: $text_color_5;
			font-size: 12px;
			.prof_div {
				color: black;
			}
		}
		.prof_duties {
			margin-top: 14px;
			.company_list_item {
				color: $text_color_6;
				margin-left: 20px;
			}
		}
		.prof_duties_comment {
			margin-top: 10px;
			margin-bottom: 30px;
		}

		.education_block {
			margin-top: 55px;
			.education_title {
				font-family: $main_font;
				font-size: 22px;
				font-weight: 700;
				line-height: 24px;
			}
			.university_name {
				margin: 20px 0 15px 0;
				color: $text_color_4;
				font-size: 16px;
			}
			.specialization {
				margin-bottom: 15px;
				font-size: $fz;
				font-weight: 700;
			}
			.study_period {
				color: $text_color_5;
				font-size: 12px;
			}
		}
	}
}

@media (max-width: 850px) {
	.wrapper {
		.sidebar {
			width: 50%;
		}
	}
}
@media (max-width: 570px) {
	.wrapper {
		flex-direction: column;
		.sidebar {
			width: 95%;
			max-width: 570px;
			.contacs-container,
			.tech_skills_container,
			.soft_Skills_container {
				width: 220px;
				margin: 20px auto;
			}
			.my_photo {
				display: block;
				margin: 0 auto;
			}
		}
		.main_info {
			width: 95%;
			padding: 5%;
		}
	}
}
